@media print {
    .imgHeader h1 {
        text-align: left;
    }

    .imgHeader img {
        display: none;
    }

    .footer {
        display: none;
    }

    .row {
        display: unset; /* workaround for broken bootstrap/flex printing */
    }

    .printHeader {
        display: unset;
    }
}