@import 'assets/scss/bootstrap';

.icon-as-o {
  height: 1em;
  vertical-align: -.1em;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.imgHeader {
  width: 100%;
  position: relative;
  min-height: 6em;
  
  img {
    max-width: 100%;
    max-height: 30em;
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 4em;
    margin: 0;
    width: 100%;
    text-align: center;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.textOutline {
  color: white;
  text-shadow:
    0.07em 0 0.07em $black,
    0 0.07em 0.07em $black,
    -0.07em 0 0.07em $black,
    0 -0.07em 0.07em $black;
}

#noSleepToggle {
  &.enabled {
    background-color: $success;
    color: $dark;
  }

  &.enabled #off {
    display: none;
  }

  &:not(.enabled) #on {
    display: none;
  }
}

.content {
  strong {
    background-color: $secondary;
    border-radius: .4em;
    padding: .2em .3em;
  }

  label {
    display: unset;
  }

  li {
    margin-bottom: .5em;
  }
}
