{{ define "head_includes" }}
<link rel="stylesheet" href='{{ "css/filter_pages_by_ingredients.css" | relURL }}'>
{{end}}

{{ define "script_includes" }}
<script src='{{ "js/filter_pages_by_ingredients.js" | relURL }}' type="text/javascript"></script>
{{end}}

{{ define "main" }}

{{.Content}}

<div class="ingredients_overview">
    <h1>Ingredients Overview</h1>

    <strong>Click to filter:</strong>

    {{ range $name := partial "getPagesIngredientIdsAsList" . }}
    <button type="button" class="btn btn-primary mb-1" onclick="toggleSelected(this)" data-ingredient="{{ $name }}">
        {{ $name | humanize }}
    </button>
    {{ end }}

    <div class="info">Only recipes with <strong>all</strong> selected ingredients will be shown.</div>
</div>

<h1>{{ partial "smartTitle" . }}</h1>

{{ partial "listPages" . }}

{{ end }}