{{ define "script_includes" }}
<script src='{{ "js/checkbox_lists.js" | relURL }}' type="text/javascript"></script>
<script src='{{ "js/keep_awake.js" | relURL }}' type="text/javascript"></script>
<script>
    function toggleNoSleep() {
        var toggle = document.getElementById("noSleepToggle");
        var isNowEnabled = toggleKeepAwake();
        toggle.classList.toggle("enabled", isNowEnabled);
    }
</script>
{{end}}

{{ define "extra-nav-items-non-collapse" }}

<li class="nav-item pr-1">
    <button type="button" class="btn btn-outline-success" id="noSleepToggle" onclick="toggleNoSleep()">
        No Sleep
        <span id="on">(on)</span>
        <span id="off">(off)</span>
    </button>
</li>

{{ end }}

{{ define "extra-nav-items" }}

<li class="nav-item">
    <button type="button" class="btn btn-primary" onclick="window.print();return false;">Print</button>
</li>

{{ end }}

{{ define "main" }}

{{ if .Params.image }}
<div class="imgHeader">
    <h1 class="textOutline">{{ partial "smartTitle" . }}</h1>
    <img src="{{ .Params.image | relURL }}" class="rounded" />
</div>
{{ end }}

<div class="printHeader" {{- if .Params.image -}}style="display: none;" {{- end -}}>
    <h1>{{ partial "smartTitle" . }}</h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg">
            <h1>Ingredients</h1>
            <ul>
                {{ range $name, $description := .Params.ingredients }}
                <li>{{ $description }}</li>
                {{ end }}
            </ul>

            {{ if .Params.optional_ingredients }}
            <h3>Optional Ingredients</h3>
            <ul>
                {{ range $name, $description := .Params.optional_ingredients }}
                <li>{{ $description }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>

        <div class="col-lg col-lg-7">
            {{.Content}}
        </div>
    </div>
</div>

{{ end }}

{{ define "footer_extras" }}
{{ if .Params.external_url }}
<div class="credits">
    This recipe was based on
    <a href="{{ .Params.external_url }}">{{ .Params.external_url }}</a>
</div>
{{ end }}
{{ end }}