<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='{{ "icon.png" | relURL  }}'>

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules")) }}
    {{ $style := resources.Get "scss/styles.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
    <link rel="stylesheet" href='{{ "css/print.css" | relURL }}'>

    {{ block "head_includes" . }}
    {{end}}

    <title>{{ partial "smartTitle" . }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href='{{ "" | relURL  }}'>
            &lt;H<img src=' {{ "icon.png" | relURL  }}' class="icon-as-o" />ME
        </a>

        <ul class="navbar-nav">
            {{ block "extra-nav-items-non-collapse" . }}
            {{end}}
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href='{{ "recipes" | relURL  }}'>Recipes</a>
                </li>
            </ul>

            <ul class="navbar-nav w-100 justify-content-end">
                {{ block "extra-nav-items" . }}
                {{end}}

                <li class="nav-item float-right">
                    <a class="nav-link" href='{{ "admin" | relURL  }}'>Admin</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {{ block "main" . }}
        {{end}}
    </div>

    <footer class="footer p-2 bg-dark">
        {{ block "footer_extras" . }}
        {{end}}
        Website created by <a href="https://www.pabloproductions.be/">Pablo</a>
    </footer>

    <script src='{{ "js/jquery/jquery.min.js" | relURL }}'></script>
    <script src='{{ "js/bootstrap/bootstrap.bundle.min.js" | relURL }}'></script>

    {{ block "script_includes" . }}
    {{end}}
</body>

</html>