{{ define "main" }}

<h1>{{ partial "smartTitle" . }}</h1>

{{.Content}}

<h2>Pages:</h2>

{{ partial "listPages" . }}

<h2>Find pages by tag:</h2>

{{ range .Site.Taxonomies.tags }}
<a class="btn btn-link" href="{{ .Page.Permalink }}">{{ .Page.Title | humanize }} ({{ .Count }})</a>
{{ end }}

<h2>Find pages by requirement:</h2>

{{ range .Site.Taxonomies.requirements }}
<a class="btn btn-link" href="{{ .Page.Permalink }}">{{ .Page.Title | humanize }} ({{ .Count }})</a>
{{ end }}

<div class="pt-5 mt-5"></div>

{{end}}