<div class="card-columns">
    {{ $subPageName := .Params.subPageName | lower | default "page" }}
    {{ range .Pages }}
    {{ $page_ingredients := partial "getPageIngredientIdsAsList" . }}
    <div class="card page" data-ingredients="{{ range $name := $page_ingredients }}{{ $name }};{{ end }}">
        {{ if .Params.image }}<img src="{{ .Params.image | relURL }}" class="card-img-top" alt="...">{{ end }}
        <div class="card-body">
            <h5 class="card-title">{{ partial "smartTitle" . }}</h5>
            {{ $taxo := "tags" }}
            {{ with .Param $taxo }}
            <p>
                <strong>Tags:</strong>
                {{ range $index, $tag := . -}}
                {{- if $index -}}, {{ end -}}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) -}}
                <a href="{{ .Permalink }}">{{ $tag | humanize }}</a>
                {{- end -}}
                {{- end -}}
            </p>
            {{ end }}
            {{ if .Params.ingredients }}
            <p>
                <strong>Ingredients:</strong>
                {{ range $i, $name := $page_ingredients -}}
                {{- if $i -}}, {{ end -}}
                {{- $url := partial "getIngredientUrl" $name -}}
                {{- if $url -}}
                <a href='{{ $url | relURL }}'>{{ $name | humanize }}</a>
                {{- else -}}
                <span>{{ $name | humanize }}</span>
                {{- end -}}
                {{- end -}}
            </p>
            {{ end }}
            <a href="{{ .RelPermalink }}" class="btn btn-primary">Check {{ $subPageName }}</a>
        </div>
    </div>
    {{ end }}
</div>